.drop-A {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/A.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-B {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/B.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-C {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/C.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-D {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/D.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-E {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/E.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-F {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/F.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-G {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/G.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-H {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/H.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-I {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/I.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-J {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/J.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-K {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/K.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-L {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/L.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-M {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/M.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-N {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/N.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-O {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/O.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-P {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/P.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-Q {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/Q.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-R {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/R.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-S {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/S.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-T {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/T.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-U {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/U.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-V {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/V.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-W {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/W.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-X {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/X.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-Y {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/Y.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}

.drop-Z {float: left;
                 font-size: .1px;
                 background: url('Alphabet_ray/Z.png') no-repeat;
                 background-size: 40px;
                 padding: 40px 0 0 40px;
                 margin-right: 9px;}